<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- header  -->
    <div id="header" class="header">
        <div class="container">
            <ul>
                <li><a href="https://www.facebook.com/ahmed.hassan.391420" target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a></li>
                <li><a href="mailto:ahmedhassan4745@gmail.com">
                        <ion-icon name="mail-outline"></ion-icon><span id="gmail"></span>
                    </a></li>
                <li><a href="https://api.whatsapp.com/send/?phone=01157622899">
                        <ion-icon name="call-outline" target="_blank"></ion-icon><span id="x"></span>
                    </a></li>
                <div id="maker"></div>
            </ul>
        </div>
    </div>
    <!-- about  -->
    <div class="aboutme">
        <div class="container">
            <div class="name">
                <p>
                    Welcome to the world of <span>web development</span><br> my name is
                </p>
                <h2>Ahmed Hassan</h2>
                <p class="job">mern stack web developer</p>
            </div>
            <div class="image">
                <div class="cercle1">
                    <div class="cercle2">
                        <a href="image/ahmed.jpeg"><img src="image/ahmed.jpeg" alt=""></a>
                        <h2>see a picture</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spikes"></div>
    <!-- Certificates -->
    <div class="Certificates">
        <div class="division">
            <h2 data-text="creative...">creative...</h2>
        </div>
        <div class="container">
            <div class="card1">
                <div class="card">
                    <div class="contectbx">
                        <div class="contentt">
                            <h2>Certificate<br><span>Bachelor of Commerce</span></h2>
                            <div class="imgbx">
                                <img src="image/Graduation%20certificate.jpeg" alt="">
                            </div>
                            <a href="image/Graduation%20certificate.jpeg">dwonload</a>
                        </div>
                    </div>
                    <div class="toggle" onclick="ss(0)">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="card1">
                <div class="card">
                    <div class="contectbx">
                        <div class="contentt">
                            <h2>Certificate<br><span>Full Stack Development Track</span></h2>
                            <div class="imgbx">
                                <img src="image/Udacity.png" alt="">
                            </div>
                            <a href="image/Udacity.png">dwonload</a>
                        </div>
                    </div>
                    <div class="toggle" onclick="ss(1)">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="card1">
                <div class="card">
                    <div class="contectbx">
                        <div class="contentt">
                            <h2>Certificate<br><span>Professional Front-End Web Development</span></h2>
                            <div class="imgbx">
                                <img src="image/udacty.png" alt="">
                            </div>
                            <a href="image/udacty.png">dwonload</a>
                        </div>
                    </div>
                    <div class="toggle" onclick="ss(2)">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="card1">
                <div class="card">
                    <div class="contectbx">
                        <div class="contentt">
                            <h2>Curriculum Vitae<br><span>Cv</span></h2>
                            <div class="imgbx">
                                <img src="image/cv.png" alt="">
                            </div>
                            <a href="image/cv.png">dwonload</a>
                        </div>
                    </div>
                    <div class="toggle" onclick="ss(3)">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spikess"></div>
    <!-- Skills  -->
    <div class="Skills">
        <div class="division">
            <h2 data-text="Skills...">Skills...</h2>
        </div>
        <div class="container">
            <div class="cardd">
                <div class="persent" style="--clr:#dd4b25; --num:95" ;>
                    <div class="dott"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>95 <span>%</span></h2>
                        <p>HTML</p>
                    </div>
                </div>
            </div>
            <div class="cardd">
                <div class="persent" style="--clr:#254bdd; --num:90" ;>
                    <div class="dott"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>90 <span>%</span></h2>
                        <p>CSS</p>
                    </div>
                </div>
            </div>
            <div class="cardd">
                <div class="persent" style="--clr:#efd81d; --num:80" ;>
                    <div class="dott"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>80 <span>%</span></h2>
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="cardd">
                <div class="persent" style="--clr:#05ca08; --num:80" ;>
                    <div class="dott"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>80 <span>%</span></h2>
                        <p>Node.js</p>
                    </div>
                </div>
            </div>
            <div class="cardd">
                <div class="persent" style="--clr:#0fa54d; --num:75" ;>
                    <div class="dott"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>75 <span>%</span></h2>
                        <p>MongoDB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spikes"></div>
    <!-- projects -->
    <div class="projects">
        <div class="division">
            <h2 data-text="Projects...">Projects...</h2>
        </div>
        <div class="container">
            <div class="pro">
                <div class="imgpro">
                    <img src="image/kasper.png" alt="">
                </div>
                <p><span>details : </span>A complete site without the intervention of a programming language</p>
                <h3>&#60&#47Tools&#62</h3>
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                </ul>
                <button><a target="_blank" href="https://ahmed98hassan.github.io/HTML-AND-CSS/">See Project</a></button>
            </div>
            <div class="pro">
                <div class="imgpro">
                    <img src="image/porti.png" alt="">
                </div>
                <p><span>details : </span>This page is made by me</p>
                <h3>&#60&#47Tools&#62</h3>
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Js</li>
                    <li>Node.js</li>
                    <li>MongoDB</li>
                </ul>
                <button><a href="#header">See Project</a></button>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <h2>Ahmed Hassan</h2>
            <q>Sometimes we see in the dark and sometimes we get lost in the light</q>
            <p class="p">Thank you for visiting and we are glad to serve you</p>
            <p class="right">&copy; <span>2022</span> All Right Reserved <span>Ahmed Hassan</span></p>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="mian.js"></script>
</body>

</html>